# Klucz z https://resend.com (po weryfikacji domeny filipwrona.pl)
RESEND_API_KEY=
# Adres, na który mają trafiać zapytania z formularza
CONTACT_TO_EMAIL=kontakt@filipwrona.pl
# Nadawca maili (musi być w zweryfikowanej domenie w Resend)
CONTACT_FROM_EMAIL=Formularz <formularz@filipwrona.pl>
# Kod weryfikacyjny z Google Search Console (sam kod, bez znacznika <meta>)
GOOGLE_SITE_VERIFICATION=
